{% extends "base.html" %}

{% block body %}
<div id="box">
    <div class="landing_slab" style="border-top:none;">
      <a href="/"><img class="logo" src="/static/images/logo.png"/></a>
      <div class="landing_header">Thank you for using OpenTeams!</div>
      <div id="logout_inner">
        <div class="logout_child">You have logged out and <strong>your metadata has been deleted.</strong></div>
        <br/>
        <div class="logout_child"><strong>Gmail users:</strong> To revoke OpenTeams's access to your Gmail data visit <a href="https://accounts.google.com/IssuedAuthSubTokens" target="_blank">Google Account settings</a>. <br/>
          If you revoke access, you will need to re-authorize OpenTeams the next time you log in.
        </div>
        </br>
        <div class="logout_child"><a href="/">Go back to OpenTeam's homepage</a></div>
        <br/><br/>
        
      
    </div>

    <div id="footer">
      
    </div>
</div>

{% end %}
