{% extends "base.html" %}

{% block body %}
<div id="box">
     <div class="landing_slab" style="border-top:none;">
      <a href="/"><img class="logo" src="/static/images/logo.png"/></a>
      <div class="landing_header">Thank you for using OpenTeams!</div>
      <div id="logout_inner">
        <div class="logout_child">You have logged out of OpenTeams and <strong>your metadata has been saved</strong>.</div>
        <br/>
        <div class="logout_child">The next time you log in, OpenTeams will only need to fetch the latest metadata.</div>
        <div class="logout_child">If you want to delete your metadata in the future, log back in and select the <strong>Log out &amp; Delete</strong> option.</div>
        
        <div class="logout_child"><strong>Gmail users:</strong> To revoke OpenTeams access to your Gmail account visit <a href="https://accounts.google.com/IssuedAuthSubTokens" target="_blank">Google Account settings</a>. <br/>
          If you revoke access, you will need to re-authorize OpenTeams the next time you log in.
        <br/>
        <br/>
        <div class="logout_child"><a href="/">Go back to OpenTeams homepage</a></div> <br/>
        
 
    </div>

    <div id="footer">
    </div>
</div>

{% end %}
