<!doctype html>
<html>
<head>
  <title>Immersion: a people-centric view of your email life</title>
  <link rel="stylesheet" href="/static/css/typefaces.css" type="text/css">
  <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico">
  <!-- REQUIRED LIBS -->
  <script src="/static/js/libs/jquery-1.9.1.min.js"></script>
  <script src="/static/js/libs/jquery-ui-1.10.3.custom.min.js"></script>
  <script src="/static/js/libs/jquery.hotkeys.js"></script>
  <script src="/static/js/libs/jquery.tipsy.js"></script>
  <script src="/static/js/libs/d3.min.js"></script>
  <script src="/static/js/libs/mustache.js"></script>
  <script type="text/javascript" src="/static/js/libs/validate.min.js"></script> <!-- simple light-weight form validation -->
  <meta name="google-site-verification" content="D2iSAiCrNJZBH4fAAFl_pxSROKgScjmpYD9ib-6rTzE" />
  <link rel="stylesheet" href="/static/css/XJ_app.css" type="text/css">
  <link rel="stylesheet" href="/static/css/tipsy.css" type="text/css">
  <link rel="stylesheet" href="/static/css/ui-lightness/jquery-ui-1.10.2.custom.min.css" type="text/css">
  {% block meta %}
  {% end %}
</head>

<body>
  {% block body %}
  {% end %}
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-39756246-1', 'mit.edu');
    ga('send', 'pageview');

  </script>
</body>
</html>