{% extends "../base.html" %}

{% block body %}
<div id="box">
     <div class="landing_slab" style="border-top:none;">
      <a href="/"><img class="logo" src="/static/images/logo.png"/></a>
      <div class="landing_header">Instructions for IMAP</div>
  <p> <a href="https://mail.google.com/mail/?shva=1#settings/labels" target="_blank">Click here to go to Gmail Label Settings</a>
      and check the box highlighted below to enable IMAP access. <br/> If the box is is already checked, just leave it as it is.
  </p>
  <div style="margin:40px 0 40px 0;"><img src="/static/images/enableimap.png" /></div>
  <div>After enabling IMAP, try to <a href="/">login again</a> to Immersion.</div>
   <br/>
   <br/>
   <div>Thank you for your patience.</div>
    <div id="footer" style="margin-top:30px">
      <div id="signoff">&copy; 2013 <a href="http://macroconnections.media.mit.edu">Macro Connections</a>&nbsp;&nbsp;&nbsp;•&nbsp;&nbsp;&nbsp;<a href="http://media.mit.edu">MIT Media Lab</a></div>
    </div>
</div>

{% end %}